@model MVCDemo.Models.Asistencia

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asistencia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoAsistencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoAsistencia)
            @Html.ValidationMessageFor(model => model.CodigoAsistencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoAlumno, "Alumno")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CodigoAlumno", String.Empty)
            @Html.ValidationMessageFor(model => model.CodigoAlumno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comentario)
            @Html.ValidationMessageFor(model => model.Comentario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
