@model MVCDemo.Models.Asistencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asistencia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodigoAsistencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodigoAsistencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alumno.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alumno.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comentario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
